<% content_for :title, "Add Credential" %>

<main class="credentials-page">
  <header>
    <h1>Add Credential</h1>
    <p>Create a new stored item for a site, app, or account.</p>
    <%= link_to "Back to list", credentials_path %>
  </header>

  <% if notice.present? %>
    <p class="flash notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="flash alert"><%= alert %></p>
  <% end %>

  <section class="panel">
    <%= render "form", credential: @credential, submit_label: "Save" %>
  </section>
</main>
